#logo-image {
    width: 200px;
    align: bottom;
}
.line {
    width: 100%;
    background-color: #7d97ad;
    height : 4px;
}
.big-pic {
    width:100%;
    height:500px;
}
#subtitle {
    color: #7d97ad;
}

#card3 {
    margin-top: 32px;
}
.card-img-top {
    padding: 15px;
}
.card {
    border: none;
}
footer {
    text-align:center;
}
@media screen and (max-width:575px) {
    .card-img-top {
        width: 50%;
        height: auto;
    }
}