#logo-image {
    width: 200px;
    align: bottom;
}
.line {
    width: 100%;
    background-color: #7d97ad;
    height : 4px;
}
.big-pic {
    width:100%;
    height:auto;
}
#subtitle {
    color: #7d97ad;
}
#small3 {
    background-color: #1b2460;
    border-radius: 50%;
}